.list-style {
  list-style: none;
  display: flex;
}

// PADDING/MARGIN
.pt-10 {
  padding-top: 10px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-20 {
  padding-bottom: 20px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}


// FONTS
.font-bold {
  font-weight: bold;
}

// COLORS
.bg-purple {
  background-color: #3C1567;
}

.bg-grey {
  background-color: #3C3C3C;
}

.bg-blue {
  background-color: #0072BC;
}
