.list-style {
  list-style: none;
  display: flex;
}

// PADDING/MARGIN
.pt-10 {
  padding-top: 10px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-20 {
  padding-bottom: 20px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}


// FONTS
.font-bold {
  font-weight: bold;
}

// COLORS
.bg-purple {
  background-color: #3C1567;
}

.bg-grey {
  background-color: $darkGrey;
}

.bg-blue {
  background-color: #0072BC;
}

.ig-color {
  background-color: #E4405F;
}

.fb-color {
  background-color: #3B5998;
}

.tw-color {
  background-color: #1DA1F2;
}

.yt-color {
  background-color: #CD201F;
}

.pt-color {
  background-color: #BD081C;
}

.rss-color {
  background-color: #FF8D00;
}
