footer {
  background-color: #ECECEC;
  .links {
    @include container-center;
    padding: 40px 0 20px 10px;
    display: flex;

    @media all and (max-width: $breakpoint-sm) {
      flex-wrap: wrap;
    }

    .column {
      width: calc(100% / 4);

      @media all and (max-width: $breakpoint-sm) {
        width: 100%;
        margin-bottom: 30px;
      }

      ul {
        margin-top: 10px;
        list-style: none;

        li {
          @media all and (max-width: $breakpoint-sm) {
            margin-bottom: 10px;
          }

          a {
            @include a-style($darkGrey);
            font-size: 12px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .social {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        margin-top: 20px;

        @media all and (max-width: $breakpoint-sm) {
          justify-content: flex-start;
          margin-left: -15px;
        }

        div {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media all and (max-width: $breakpoint-sm) {
            margin-right: 15px;
          }

          a {
            @include a-style($white);
            display: flex;
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .copyright {
    height: $nav-height;
    display: flex;
    align-items: center;

    @media all and (max-width: $breakpoint-sm) {
      height: 140px;
    }

    & > div {
      @include container-center;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media all and (max-width: $breakpoint-sm) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      ul {
        align-items: center;

        li {
          margin-right: 20px;
          font-size: 12px;
          a {
            @include a-style($grey);

            &:hover {
              color: $white;
              text-decoration: underline;
            }
          }
        }
      }

      span.copy {
        font-size: 12px;
        color: $white;
      }
    }
  }
}
