nav {
  background-color: $black;

  .navbar {
    @include container-center;
    height: $nav-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media all and (max-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-top: 0;
      height: 70px;
    }

    .hamburger {
      display: none;
      color: $white;
      font-size: 30px;

      @media all and (max-width: $breakpoint-md) {
        display: block;
      }
    }

    .contacts {
      display: flex;
      justify-content: flex-end;

      ul {
        li {
          margin-right: 20px;
          a {
            @include a-style($grey);
            font-size: 12px;

            &:hover {
              color: $white;
              text-decoration: underline;
            }
            i {
              margin-right: $icon-margin;
              font-size: 15px;
              color: $blue;
            }
          }
        }
      }

      @media all and (max-width: $breakpoint-md) {
        display: none;
      }

    }

    .navigation {
      display: flex;
      align-items: center;

      @media all and (max-width: $breakpoint-md) {
        display: inline-block;
        margin: 0 auto;
      }


      .logo {
        padding-bottom: 10px;
        margin-right: 30px;

        @media all and (max-width: $breakpoint-md) {
          padding-bottom: 0;
          margin-right: 0;
        }

        img {
          width: 90px;
        }
      }

      ul {
        li {
          margin-right: 20px;
          font-size: 13px;
          padding: 12px;

          &:hover {
            background-color: $lightGrey;
          }

          a {
            @include a-style($white);

            i {
              margin-left: $icon-margin;
              font-size: 11px;
              color: $grey;
            }
          }

          &:hover {
            a {
              color: $text-hover;
            }
          }
        }

        @media all and (max-width: $breakpoint-md) {
          display: none;
        }

      }

    }

  }
}
