main {
  background-color: #E8E8E8;

  .container {
    #modules {
      @include container-center;

      & > p {
        text-align: center;
        font-size: $title-size;
      }

      .options {
        display: flex;
        justify-content: space-between;

        @media all and (max-width: $breakpoint-sm) {
          flex-wrap: wrap;
          justify-content: flex-start;
        }

        & > div {
          width: calc(100% / 3 - 20px);
          display: flex;
          flex-direction: column;

          @media all and (max-width: $breakpoint-sm) {
            width: 100%;
            margin-bottom: 20px;
          }

          .module-image {
            position: relative;
            width: 100%;
            display: flex;

            img {
              width: 100%;
            }

            span {
              @include credits($grey);
              bottom: 10px;
              right: 20px;
            }
          }

          .text {
            background-color: $white;
            padding: 20px;
            width: 100%;

            h4 {
              span {
                text-transform: uppercase;
                color:$blue;
                font-style: italic;
                padding-right: 5px;
              }
            }

            p {
              font-size: 14px;
            }

            a {
              @include a-style($blue);
              font-size: 14px;

              &:hover {
                text-decoration: underline;
              }
            }
          }

        }
      }
    }
  }

}
