#advantages {
  @include container-center;
  margin-top: 80px;

  @media all and (max-width: $breakpoint-sm) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
  }

  .adv-container {
    display: flex;
    flex-wrap: wrap;

    .card {
      width: 50%;
      height: 300px;

      @media all and (max-width: $breakpoint-sm) {
        width: 100%;
      }


      .card-text {
        color: $white;
        padding: 40px 30px 0;

        p:first-child {
          font-size: $title-size;
        }

        p:nth-child(2) {
          @include p-font;
        }

        span {
          @include button($white,$white);
          display: inline-block;

          a {
            @include a-style($black);
          }

          &:hover {
            background-color: transparent;
            border-color: $white;
            a {
              color: $white;
            }
          }
        }
      }
    }

    .card.pink {
      @include bg-image('../dist/img/wacom-painter.jpg',center);
      padding: 10px 0 0 10px;
      position: relative;

      img {
        width: 75%;
      }

      span {
        @include credits($grey);
        left: 20px;
        bottom: 20px;
      }
    }

    .card.dragon {
      @include bg-image('../dist/img/painter-master.jpg',center);
      position: relative;

      span {
        @include credits($grey);
        left: 20px;
        bottom: 20px;
      }

    }

    .card.desk {
      @include bg-image('../dist/img/business-education.jpg',center);
    }

  }
}
