#advantages {
  margin-top: 80px;

  .adv-container {
    display: flex;
    flex-wrap: wrap;
    .card {
      width: 50%;
      height: 300px;

      .card-text {
        color: $white;
        padding: 40px 30px 0;

        p:first-child {
          font-size: $title-size;
        }

        p:nth-child(2) {
          @include p-font;
        }

        span {
          @include button($white,$white);
          display: inline-block;

          a {
            @include a-style($black);
          }

          &:hover {
            background-color: transparent;
            border-color: $white;
            a {
              color: $white;
            }
          }
        }
      }
    }

    .card.pink {
      @include bg-image('../dist/img/wacom-painter.jpg',center);
      padding: 10px 0 0 10px;

      & > img {
        width: 75%;
      }
    }

    .card.dragon {
      @include bg-image('../dist/img/painter-master.jpg',center);
    }

    .card.desk {
      @include bg-image('../dist/img/business-education.jpg',center);
    }

  }
}
