$nav-height: 95px;
$black: #000;
$blue: #009CFF;
$grey: #989898;
$white: #fff;
$icon-margin: 5px;
$lightGrey: #F1F1F1;
$text-hover: #333333;
$purple: #C70EB8;
$title-size: 30px;
$darkGrey: #3C3C3C;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
